.main_heading  {
  display: flex;
  /* margin-left: 100px; */
font-size: 2rem;
justify-content: center;
color:#ff6d31
}

.hp_body {
  display: flex;
  flex-direction: column;
}

.image_section {
    display: grid;
    width: 100%;
    margin-bottom: 50px;
    grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
    justify-items: stretch;
}

.handpic_image{
  width:200px;
  height:300px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding:5px;
  border-radius: 5px;
  cursor: pointer;
  object-fit: contain;
}
.handpic_image:hover{
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media screen  and (max-width:1200px){
  .image_section {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
  }

  .handpic_image {
      margin: 1rem 0 1rem;
  }
}

/* @media screen  and (max-width: 500px){
  .handpic_image {
    width: 250px;
    height: 250px;
  }

  .image_section {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
      justify-items: center;
  }

} */
@media screen  and (max-width:400px){
  .main_heading  {
    display: flex;
   text-align: left;
   margin-left: 5px;
  font-size: 1.4em;
  color:#ff6d31
  }
  .image_section {
    display: flex;
    margin-left: 20px;
    width: 52px;
    gap: 10px;
    margin-bottom: 50px;
  }
}
.headings {
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  gap:30px;
  margin-bottom: 20px;
}

.headings h2 {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 2.2;
}

.headings h2:hover {
  opacity: 1;
/* text-decoration: underline;  */
  cursor: pointer;
  /* font-weight: bolder; */
}

.selected {
  /* text-decoration: underline; */
  font-weight: bolder;
}
