@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Dai+Banna+SIL&family=Libre+Baskerville&family=Quicksand:wght@500&display=swap");

.product_img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  margin: auto;
  box-shadow: rgba(149, 157, 165, 0.16) 0px 8px 24px;
  padding: 5px;
}

.image_jk.MuiBox-root.css-79elbk:hover .product_img {
  box-shadow: rgb(255 255 255) 0px 8px 24px;
}

.product_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.addtocart {
  border-radius: 0px;
  line-height: 3;
  width: 100%;
  color: whitesmoke;
  font-size: 1em;
  margin-top: 9px;
  font-weight: bolder;
  /* background-color: #ff6d31;; */

  font-family: 'SourceSansProRegular';
  /* padding: 6px 20px; */
  background: #ff6d2f;
}

.trending {
  font-family: 'heuristica-regular', sans-serif;
  display: flex;
  font-size: 2rem;
  color: #ff6d31;
  text-transform: capitalize;
}

button#myBtn {
  padding: 1.3rem;
  margin: 5px 0;
}

.bestsellers {
  font-family: 'heuristica-regular', sans-serif;
  display: flex;
  /* width: 30%; */
  /* justify-content: center; */
  /* text-decoration: underline; */
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 2rem;
  color: #ff6d31;
  text-transform: capitalize;
}

.image-container {
  position: relative;
  display: inline-block;
}

.list {
  background: #FFFFFF;
  display: inline-block;
  text-align: center;
  position: relative;
  /* display: none; */
  position: absolute;
  padding: 0;
}

.trendingitems {
  margin: 0 65px;
}

@media screen and (max-width:400px) {

  .trending,
  .bestsellers {
    justify-content: center;

    font-size: 1.2rem;
    font-weight: 800;
    text-decoration: underline;
  }

  .trendingitems .slick-next,
  .trendingitems .slick-prev {
    display: none !important;
  }

  .trendingitems {
    margin: 0 15px;
  }
}