@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Labrada:ital,wght@0,200;0,300;1,400&family=PT+Sans:ital,wght@1,700&family=Shantell+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&family=Rubik&display=swap');

.slick-track {
  display: flex;
  /* padding-right: 20px;
    padding-left: 50px; */
  /* justify-content: space-evenly */
}
.slick-slider {
  display: flex;
  /* justify-content: "space-around"; */
  /* align-items: center; */
  max-width: 2000px;
  margin: 2px auto;
  padding: 2px;
}

.slick-slide {
  padding: 10px;
  /* width: 50%; */
  /* width:1200px; */
}

.slick-slide:last-child {
  padding-right: 0;
}
/* .slick-slide img {
    display: block;
  } */
.slick-list {
  margin: 0px 0px;
  width: 93%;
  /* left:4%; */
}
/* @media (max-width:400px){
    .slick-prev {
      top:50px;
    }
  .slick-next {
    top:50px;
  }
  } */

.slick-prev {
  width: 25px;
  left: -11px;
  top: 150px;
  /* top: 20%; */
  position: absolute;
  height: 25px;
  background: tomato;
  /* z-index: 1; */
  position: relative;
  /* left: 12px; */
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.slick-next {
  width: 25px;
  right: 25px;
  top: 150px;
  /* left: 100%; */
  /* top: 20%; */
  position: absolute;
  height: 25px;
  background: tomato;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.slick-prev:focus,
.slick-prev:hover,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: tomato;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > #nav-check {
  display: none;
}

.i {
  font-weight: bold;
  border: 1px solid black;
  padding: 6px;
  /* margin-left: 0px; */
}

input {
  display: block;
  width: 300px;
  padding: 0 20px;
}
input,
input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 2;
}
/* input::placeholder {
    font: 20px/20 sans-serif;
  
} */


.sel::before{
border-bottom: 0px;
  
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  input {
    display: block;
    width: 130px;
    padding: 0 1px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.css-aogyyi-MuiInputBase-root-MuiInput-root-MuiSelect-root:before,.css-v1avcb::before {
    border-bottom: none !important;
}

.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input:focus, .css-1cccqvr:focus {
    background-color: transparent !important;
} 