/* Base styles for tailwind */
@tailwind base;

/* Component styles for tailwind */
@tailwind components;

/* Utility styles for tailwind */
@tailwind utilities;

:root{
  --font-clr:#645743;
  --font-style: 'Satoshi, sans-serif' ;
}
/* Global styles for all elements */
* {
  font-family: 'SourceSansProRegular', sans-serif;
}

/* Styling for the App logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Animation for the App logo */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Styling for a container element */
.container {
  position: relative;
}

/* Styling for boxes */
.boxess {
  margin-top: 80px;
}

/* Responsive styling for carousel images */
@media (max-width: 700px) {
  .caraousel-img {
    display: none;
  }
}

/* Styling for the App header */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Styling for links in the App */
.App-link {
  color: #61dafb;
}

/* Responsive styling for product images */
@media only screen and (max-width: 1100px) {
  .product_img {
    width: 140px;
    height: 200px;
  }
}

/* Animation keyframes for spinning the App logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styling for image elements with class .image_jk */
.image_jk {
  padding: 5px;
  border-radius: 5px;
  background: #fffdfc;
  margin: 15px 5px;
}

/* Responsive styling for boxes at smaller screens */
@media (max-width: 992px) {
  .boxess {
    margin-top: 10px;
  }
}

/* Hide the webkit scrollbar */
::-webkit-scrollbar {
  display: none;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiDialog-paperFullWidth.css-tlc64q-MuiPaper-root-MuiDialog-paper  {
  border-radius: 2rem;
  padding: 1rem;
}

/* This will be your main container styles */
.searchbox-faq {
  display: flex;           /* Use flexbox for alignment */
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: 100%;
  margin-bottom: 20px;
  
}

/* Styling the input field */
.searchbox-faq .input-container input {
  padding: 10px;          /* Add some padding inside the input */
  margin: 0;              /* Remove any default margin */
  font-size: 16px;        /* Set font-size as needed */
  border: 1px solid #ccc; /* A subtle border color */
  border-radius: 4px;     /* Rounded corners */
  width: 100%;            /* Full width of its parent container */
  box-sizing: border-box; 
  width: 200px;
}
